a {
    text-decoration: none;
    color: black;
}

.header-navbar {
    box-shadow: -3px 20px 10px 0px #dddddd70;
    padding: 12px 0px;
    position: relative;
    z-index: 2;
}

.header-navbar a:hover {
    color: rgb(255, 174, 0);
}

.logo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu i {
    visibility: hidden;
}

.header-menu-mobil ul li:nth-child(1) {
    display: none;
}

.header-menu-mobil ul li:nth-child(2) {
    display: none;
}

.header-menu-mobil ul li:nth-child(3) {
    display: none;
}

.header-menu-mobil ul li:nth-child(4) {
    display: none;
}

@media only screen and (max-width: 767px) {
    .header-menu {
        width: 100%;
    }

    .header-menu i {
        visibility: visible;
    }

    .navbar-menu li:nth-child(1) {
        display: none;
    }

    .navbar-menu li:nth-child(2) {
        display: none;
    }

    .navbar-menu li:nth-child(3) {
        display: none;
    }

    .navbar-menu li:nth-child(4) {
        display: none;
    }

    .navbar-menu li:nth-child(5) {
        display: block;
        font-size: 30px;
    }

    .navbar-menu li:nth-child(5):hover {
        color: rgb(255, 184, 14);
        cursor: pointer;
    }

    .navbar-mobil-menu a {
        color: rgb(255, 184, 14);
    }

    .header-menu-mobil ul {
        padding: 0px;
    }

    .header-menu-mobil ul li {
        margin-top: 30px;
    }

    .header-menu-mobil ul li:nth-child(1) {
        display: block;
    }

    .header-menu-mobil ul li:nth-child(2) {
        display: block;
        width: 100%;
    }

    .header-menu-mobil ul li:nth-child(3) {
        display: block;
        width: 100%;
    }

    .header-menu-mobil ul li:nth-child(4) {
        display: block;
        width: 100%;
    }

    .header-menu-mobil {
        display: none;
        bottom: auto;
        position: fixed;
        top: 0px;
        left: -240px;
        width: 240px;
        height: 100%;
        z-index: 999;
        transition: all 0.2s ease-in-out 0s;
        background: rgb(49, 68, 83);
        overflow: hidden auto;
        text-align: center;
    }

    .header-menu-mobil.active {
        display: block;
        left: 0px;
    }

    .banner-title span {
        display: flex;
    }

    .banner-conts-items {
        text-align: center;
        width: 200px;
    }

    .banner-btn {
        display: contents;
    }

    .btn-custom {
        margin-bottom: 10px;
    }

    .banner-conts-items {
        width: 200px;
    }
}

.banner-conts-items {
    font-weight: 200;
}

.container-fluid ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.hamburger-menu-item a:hover {
    color: black;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
}

.navbar-menu {
    list-style: none;
    display: flex;
    font-weight: 400;
    margin: 0px;
}

.navbar-menu-items {
    margin-right: 40px;
}

.about-madga {
    margin-top: 30px;
    border-left: 3px solid orange;
}

.about-madga-item {
    margin-left: 15px;
}

.fw-300 {
    font-weight: 100;
}

.border-img {
    margin: 49px 0px;
    height: 375px;
}

.mid {
    margin-top: 50px;
}

.mid-contents-menu-item {
    display: flex;
    margin-top: 15px;
}

.mid-contents-menu-item ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.mid-contents-menu-item li::before {
    content: "";
    margin-right: 5px;
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    color: rgb(255, 174, 0);
}

.index-img {
    height: 457px;
    margin-top: 30px;
    width: 524px;
}

.index-conten {
    margin-top: 50px;
}

.index-contents {
    margin-top: 15px;
}

.index-contents-ranger {
    margin-top: 15px;
}

.progress-bars {
    margin-top: 15px;
}

.progress-bar {
    background-color: orange;
    border-radius: 100px;
    color: black;
    align-items: end;
    font-weight: bold;
}

.footer-contents {
    margin-top: 50px;
    background-color: black;
    height: 153px;
}

.position {
    margin-top: 30px;
    text-align: center;
    height: 75px;
    width: 100%;
}

.img-position {
    margin-top: 30px;
}

.position-logo {
    text-align: center;
}

.logo-footer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.logo-footer a:hover {
    background-color: orange;
    margin: 10px;
}

.bg1 {
    width: 100%;
    height: 500px;
    margin-top: 30px;
    background-repeat: no-repeat;
}

.bg1::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: rgba(0, 0, 0, 0.58);
}

.bg-area {
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
}

.testimontal-general {
    height: 100%;
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: cover;
}

.icon-item {
    width: 87px;
    height: 84px;
    color: orange;
    border: 1px solid rgb(255, 166, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.testimontal-icon-area i {
    color: rgba(254, 166, 0, 0.95);
}

.testimontal-count-item {
    color: rgb(255, 255, 255);
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimontal-name-task-item {
    color: rgba(255, 255, 255, 0.55);
    width: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.banner-bg {
    width: 100%;
    height: 500px;
}

.banner-bg::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: 0% 0% / cover no-repeat rgba(0, 0, 0, 0.46);
}

.banner-slider-content {
    margin: 67px auto;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .btn-grops {
        display: contents;
    }

    .contes-area-menu {
        margin: 40px 20px;
    }

    .highly-menu-area {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .highly-menu-area {
        margin-bottom: 40px;
    }
}

.banner-span {
    color: rgb(199, 212, 209);
    font-size: 20px;
}

.banner-title {
    text-align: center;
}

.banner-tt-area {
    color: rgb(199, 212, 209);
    font-weight: 300;
}

.banner-conts {
    color: rgb(199, 212, 209);
    text-align: center;
    margin: 0px auto;
}

.banner-btn {
    text-align: center;
}

.btn-slider {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 50px;
    background-color: rgba(238, 238, 238, 0);
    padding: 7px 23px;
}

.btn-custom {
    border: 1px solid rgb(255, 174, 0);
    border-radius: 50px;
    background-color: rgb(255, 174, 0);
    color: rgb(255, 255, 255);
    margin-right: 10px;
    padding: 7px 23px;
}

.btn-custom:hover {
    color: rgb(255, 174, 0);
    background-color: rgba(238, 238, 238, 0.23);
    border-radius: 50px;
    border: 1px solid rgb(255, 174, 0);
}

.btn-slider:hover {
    color: rgb(255, 174, 0);
    border-radius: 50px;
    border: 1px solid rgb(255, 174, 0);
    background-color: rgba(238, 238, 238, 0);
}

.index-madga {
    margin-top: 57px;
    border-left: 3px solid orange;
}

.index-madga-item {
    margin-left: 15px;
}

.index-madga-contents {
    font-weight: 200;
}

.contes-area {
    margin-top: 70px;
}

.contes-area-menu {
    text-align: center;
}

.contes-icon a {
    color: rgb(255, 174, 0);
    font-size: 30px;
    cursor: pointer;
}

.icon-conts {
    margin: 5px;
}

.contes-contents {
    margin-top: 4px;
}

.go-icon-area a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 174, 0);
    border-radius: 50%;
    background-color: rgb(255, 174, 0);
    display: flex;
    text-align: center;
    justify-content: center;
}

.highly-area {
    margin-top: 60px;
}

.highly-menu-contns-style {
    color: rgb(255, 174, 0);
}

.Strategy-menu-area {
    margin-top: 10px;
    font-weight: lighter;
}

.highly-menu-img img {
    width: 100%;
}

.highly-menu-item ul {
    list-style: none;
    padding: 0px;
}

.highly-menu-item li::before {
    content: "";
    margin-right: 5px;
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    color: rgb(255, 174, 0);
}

.btn-warning-style {
    margin-top: 35px;
    margin-bottom: 35px;
}

.are-diffrent-area {
    margin-top: 50px;
}

.are-diffrent-menu {
    border-left: 3px solid rgb(255, 174, 0);
}

.are-diffrent-item {
    margin-left: 16px;
}

.btn-grops {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 61px;
}

.tab button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 2px solid rgb(215, 215, 215);
    color: black;
    margin-right: 20px;
    padding: 8px 31px;
}

@media only screen and (max-width: 767px) {
    .tab-content {
        flex-direction: column;
    }

    .tab-content li {
        text-align: center;
        margin-top: 10px;
    }

    
}

.tab button:hover {
    color: rgb(1, 1, 1);
    background-color: rgb(255, 184, 14);
}

.tab button.active {
    background-color: rgb(255, 184, 14);
    color: rgb(255, 255, 255);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.professsinol-work-area {
    margin-top: 60px;
}

.Professsinol-work-title {
    font-size: 29px;
    font-weight: 100;
    opacity: 0.9;
}

.Works-sty {
    font-size: 35px;
    margin-left: 5px;
    font-weight: 400;
}

.professsinol-work-menu-img img {
    width: 100%;
}

.professsinol-work-menu ul {
    padding: 0px;
    list-style: none;
}

.professsinol-work-menu li::before {
    content: "";
    margin-right: 5px;
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
    color: rgb(255, 174, 0);
}

.professsinol-work-menu li {
    font-weight: 100;
}

.logo-slider {
    background: rgb(246, 246, 246);
    height: 100%;
    padding: 12px 10px;
}

.index-footer {
    background-color: black;
    height: 153px;
}

.index-logo {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.our-blog {
    margin-top: 15px;
}

.our-blog-item {
    border-left: 3px solid rgb(255, 174, 0);
    padding-left: 7px;
}

.img-ref-item img {
    width: 100%;
}

.img-ref {
    position: relative;
}

.img-element {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-ref-item {
    margin-top: 20px;
}

.img-ref-item a::before {
    content: "";
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    visibility: hidden;
    color: rgb(255, 255, 255);
    position: absolute;
    inset: 0px;
    z-index: 4;
}

.img-ref-item a:hover::before {
    visibility: visible;
    transition: all 300ms ease 0s;
}

.img-ref-item a::after {
    content: "";
    position: absolute;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 300ms ease 0s;
}

.img-ref-item a:hover::after {
    opacity: 1;
    visibility: visible;
}

.contact-us {
    border-left: 3px solid rgb(255, 174, 0);
}

.contact-us-title {
    margin-left: 10px;
}

.form-adress ul {
    list-style: none;
}

.form-numbers ul {
    list-style: none;
}

.form-mail ul {
    list-style: none;
}

.contact-info {
    display: flex;
}

.contact-info ul {
    list-style: none;
}

.contact-info-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info-list-item i {
    background: rgb(226, 226, 226);
    padding: 30px;
    margin-right: 10px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 50%;
    font-size: 30px;
    color: rgb(249, 173, 11);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-8 {
    margin-top: 25px;
}

.mr-8 {
    margin-right: 5px;
}

.iframe-rea {
    height: 500px;
}

.iframe-navigation-menu {
    height: 500px;
    width: 100%;
}

.tabcontent.active {
    display: block;
}

.tab-content li {
    list-style: none;
}

.tab-content {
    display: flex;
}

.logo-slider img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.navbar-hamburger-menu {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-menu {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
    font-size: 35px;
}

.logo-slider-menu {
    margin-top: 40px;
}

.btn-custom-style {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

@media only screen and (max-width: 360px) {
    .logo-slider img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media only screen and (max-width: 1199px) {
    .tab-content li {
        list-style: none;
        width: 50%;
    }

    .tab-content {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 15px;
    }

    .tab-content button {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .tab-content li {
        list-style: none;
        width: 100%;
    }

    .tab-content {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }

    .tab-content button {
        width: 100%;
        margin-bottom: 25px;
    }
}

.footer-icons {
    color: rgb(255, 255, 255);
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.icon-menu-content a i {
    color: rgb(255, 255, 255);
    margin: 5px;
}

.foooter-icon-menu {
    display: flex;
    list-style: none;
    margin: 5px;
    padding: 0px;
}


.btn-custom:hover .btn-custom-style {
    color: red;
}

.highly-menu-area {
    margin-left: 50px;
}

#border-radius {
    border-radius: 50px;
    margin-top: 85px;
    padding: 5px 12px;
}

.testimontal-count-area {
    display: flex;
    justify-content: space-evenly;
}

.testimontal-icon-area {
    display: flex;
    justify-content: center;
}

.testimontal-name-task-area {
    display: flex;
    justify-content: center;
}

.highly-menu-area {
    margin-left: 50px;
}

.highly-menu-area {
    margin-left: 50px;
}

.mid-contest-items li {
    font-weight: 300;
}

.about-madga-img {
    margin: 50px 0px;
}

.contact-us-area {
    margin: 28px 0px;
}

.form-area {
    margin-bottom: 89px;
}

.btn-from {
    margin-top: 50px;
}

.fw-200 {
    font-weight: 100;
}

.head-icon-title {
    font-size: 20px;
    font-weight: 500;
}

.contes-icon {
    margin-bottom: 10px;
}

.contes-icon {
    margin-bottom: 15px;
}

.fa-solid.fa-circle-chevron-right {
    font-size: 30px;
}

.logo-are-slider {
    width: 100%;
    background-color: rgb(246, 246, 246);
}

.icon-menu-content {
    margin: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-logo-footer {
    background: black;
    height: 77px;
}

.go-icon-area a i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-icon-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.highly-menu-item li {
    font-weight: 200;
}

.icon-menu-content a i {
    border: 1px solid rgb(187, 187, 187);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(187, 187, 187);
}